


<div id="body-pd">
    <header class="header" id="header">
        <div class="header_toggle" > <i class='bx bx-menu' id="header-toggle"></i> </div>
        <div class="header_img"> <img src="https://i.pinimg.com/736x/61/f7/5e/61f75ea9a680def2ed1c6929fe75aeee.jpg" alt=""> </div>
        
    </header>
    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <div> 
                <div>
                <a href="#" class="nav_logo"> 
                <img class='bx bx-layer nav_logo-icon' src="/images/AuverseLogo.png" style="height: 40px;">
                </a>
                </div>
                <div class="nav_list">
                     <a href="/adminHome" class="nav_link {{this.dashboard}}"> 
                        <i class='bx bxs-dashboard nav_icon'></i>
                         <span class="nav_name">Dashboard</span> 
                     </a> 
                     <a href="/adminSales" class="nav_link {{this.sales}}">
                         <i class='bx bx-rupee nav_icon'></i>
                          <span class="nav_name">Sales Report</span>
                           </a> 
                           <a href="/adminProducts" class="nav_link {{this.products}}">
                             <i class='bx bx-shopping-bag nav_icon'></i> 
                             <span class="nav_name">Products</span> 
                             </a> 
                             <a href="/adminUsers" class="nav_link {{this.customers}}">
                                 <i class='bx bx-user nav_icon'></i>
                                  <span class="nav_name">Customers</span>
                                   </a> 
                                   <a href="/adminCategories" class="nav_link {{this.categories}}"> 
                                    <i class='bx bx-category nav_icon'></i> 
                                    <span class="nav_name">Categories</span> 
                                    </a> 
                                   <a href="/adminBrands" class="nav_link {{this.brands}}"> 
                                    <i class='bx bxs-component nav_icon'></i> 
                                    <span class="nav_name">Brands</span> 
                                    </a> 
                                    <a href="/adminOrders" class="nav_link {{this.orders}}"> 
                                        <i class='bx bx-package nav_icon'></i>
                                         <span class="nav_name">Orders</span> 
                                    </a>
                                    <a href="/adminOffers" class="nav_link {{this.offers}}"> 
                                        <i class='bx bxs-offer nav_icon'></i>
                                         <span class="nav_name">Offers</span> 
                                    </a>
                                    <a href="/adminCoupons" class="nav_link {{this.coupons}}"> 
                                        <i class='bx bxs-coupon nav_icon'></i>
                                         <span class="nav_name">Coupons</span> 
                                    </a>
                                    <a href="/adminBanners" class="nav_link {{this.banners}}"> 
                                        <i class='bx bx-image nav_icon'></i>
                                         <span class="nav_name">Banners</span> 
                            </a>
                </div>
            </div> <a href="/adminLogout" class="nav_link" style="margin-bottom: 1.5rem;"> <i class='bx bx-log-out nav_icon'></i> <span class="nav_name">SignOut</span> </a>
        </nav>
    </div>
    </div>


    <style>
        body{
            background-color: #c2c2c2 !important;
        }
        .paginate_button{
            color: white !important;
            background-color: black;
            border-radius: 50%;
        }
    </style>
      